.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 16px #dce1e1;

}

.carousel-container img {
    display: none;
    border-radius: 15px;


}

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: auto;

}



.carousel-arrow-container {
    position: absolute;
    right: 25px;
    left: 0;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 1 rem;
    font-size: 3rem;
    gap: 2rem;
}

.carousel-arrow-container-veg {
    position: absolute;
    right: 25px;
    left: 0;
    bottom: 215px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 1 rem;
    font-size: 3rem;
    gap: 2rem;
}

.carousel-arrow-container i:hover {
    cursor: pointer;
    color: #fff;
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}


.container-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    text-align: left;
}

.food-price {
    display: flex;
    align-items: flex-end;
    font-size: 2em;
    margin-bottom: 0.25em;
}

.a-button {
    z-index: 1;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}