<footer>
    <div class="block top-padd80 bottom-padd80 dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="footer-data">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="widget about_widget wow fadeIn" data-wow-delay="0.1s">
                                    <div class="logo">
                                        <h1 itemprop="headline"><a href={{gmail}} title="Home" itemprop="url"><img
                                                    src="assets/images/logo2.png" alt="logo.png"
                                                    itemprop="image"></a></h1>
                                    </div>
                                    <p itemprop="description">Espero que le haya gustado este desarrollo. Quedo a disposición para que me contacten</p>
                                    <div class="social2">
                                        <a class="brd-rd50" href={{linkedIn}} title="Lindekin" itemprop="url"
                                            target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a class="brd-rd50" href={{googleMe}} title="Googleame" itemprop="url"
                                            target="_blank"><i class="fa fa-google"></i></a>
                                        <a class="brd-rd50" href={{twitter}} title="Twitter" itemprop="url"
                                            target="_blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="widget information_links wow fadeIn" data-wow-delay="0.2s">
                                    <h4 class="widget-title" itemprop="headline">INFORMACIÓN</h4>
                                    <ul>
                                        <li><a href="#" title="" itemprop="url">Esta info</a></li>
                                        <li><a href="#" title="" itemprop="url">es para el maquetado</a></li>
                                        <li><a href="#" title="" itemprop="url">para que la estructura</a></li>
                                        <li><a href="#" title="" itemprop="url">se pueda ver</a></li>
                                        <li><a href="#" title="" itemprop="url">proporcionada y bonita</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="widget customer_care wow fadeIn" data-wow-delay="0.3s">
                                    <h4 class="widget-title" itemprop="headline">ATENCIÓN AL CLIENTE</h4>
                                    <ul>
                                        <li><a href="#" title="" itemprop="url">PROACTIVIDAD</a></li>
                                        <li><a href="#" title="" itemprop="url">MEJORA CONTINUA</a></li>
                                        <li><a href="#" title="" itemprop="url">DESEO DE APRENDER</a></li>
                                        <li><a href="#" title="" itemprop="url">COMPROMISO</a></li>
                                        <li><a href="#" title="" itemprop="url">ÉTICA LABORAL</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-lg-3">
                                <div class="widget get_in_touch wow fadeIn" data-wow-delay="0.4s">
                                    <h4 class="widget-title" itemprop="headline">Mi contacto</h4>
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> Calle Falsa Pública 123, San Martín de
                                            los Andes, Neuquén, Argentina.</li>
                                        <li><i class="fa fa-phone"></i> (+54) teléfono falso pero mail real</li>
                                        <li><i class="fa fa-envelope"></i> <a href="{{gmail}}" title=""
                                                itemprop="url">rodrigogomezinsausti@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- Footer Data -->
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer -->
<div class="bottom-bar dark-bg text-center">
    <div class="container">
        <p itemprop="description"><a target="_blank" href={{gitHub}}>Mi GitHub con otros proyectos</a></p>
    </div>
</div><!-- Bottom Bar -->

