<section>
    <div class="block no-padding red-bg">
        <img class="bottom-clouds-mockup" src="assets/images/resource/clouds2.png" alt="clouds2.png"
            itemprop="image">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="app-sec">
                        <div class="row">
                            <div
                                class="col-md-4 hidden-sm col-md-offset-1 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-1">
                                <div class="app-mockup text-right overlape-110 wow fadeInUp" data-wow-delay="0.2s">
                                    <img src="assets/images/resource/app-mockup.png" alt="app-mockup.png"
                                        itemprop="image"></div>
                            </div>
                            <div
                                class="col-md-6 col-md-offset-1 col-sm-12 col-sm-offset-0 col-lg-6 col-lg-offset-1">
                                <div class="app-info">
                                    <h4 itemprop="headline">Pedí también a través de nuestra App!</h4>
                                    <p itemprop="description">La mejor variedad de platos del condado! También
                                        opciones veganas! Todas sabrosas</p>
                                    <div class="app-download-btns">
                                        <a class="" href="#" title="Google Play Store" itemprop="url"
                                            target="_blank"><img src="assets/images/resource/app-download-btn1.png"
                                                alt="app-download-btn1.png" itemprop="image"></a>
                                        <a class="" href="#" title="Apple App Store" itemprop="url"
                                            target="_blank"><img src="assets/images/resource/app-download-btn2.png"
                                                alt="app-download-btn2.png" itemprop="image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- App Section -->
                </div>
            </div>
        </div>
    </div>
</section><!-- red section -->
