<header class="stick">
    <div class="topbar">
        <div class="container">
            <div class="topbar-register">
                <a class="log-popup-btn log-out" (click)="logOut()">CERRAR SESIÓN</a> 
            </div>
            <div class="social1">
                <a href={{linkedin}} title="Linkedin" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href={{twitter}} title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href={{googleMe}} title="Googleame" itemprop="url" target="_blank"><i class="fa fa-google"></i></a>
            </div>
        </div>                
    </div><!-- Topbar -->
    <div class="logo-menu-sec">
        <div class="container">
            <div class="logo"><h1 itemprop="headline"><img src="assets/images/logo2.png" alt="logo.png" itemprop="image"></h1></div>
        </div>
    </div><!-- Logo Menu Section -->
</header><!-- Header -->

<div class="responsive-header">
    <div class="responsive-topbar ">
        <div class="select-wrp">
            <div class="topbar-register">
                <a class="log-popup-btn log-out" (click)="logOut()">CERRAR SESIÓN</a> 
            </div>
            <div class="social1">
                <a href={{linkedin}} title="Linkedin" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href={{twitter}} title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href={{googleMe}} title="Googleame" itemprop="url" target="_blank"><i class="fa fa-google"></i></a>
            </div>
        
    </div>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->
