<div class="bread-crumbs-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" title="" itemprop="url">Arriba</a></li>
            <li class="breadcrumb-item active">Su pedido</li>
        </ol>
    </div>
</div>

<section>
    <div class="block gray-bg bottom-padd210 top-padd30">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-box">
                        <div class="sec-wrapper">
                            <div class="col-md-8 col-sm-12 col-lg-8">
                                <app-carousel [recipes]="recipes"></app-carousel>
                                <app-carousel [recipesVegan]="recipesVegan"></app-carousel>
                            </div>
                            <div class="col-md-4 col-sm-12 col-lg-4">
                                <div class="order-wrapper">
                                    <div class="order-inner gradient-brd">
                                        <h4 itemprop="headline">Tu pedido</h4>
                                        <div class="order-list-wrapper">
                                            <ul class="order-list-inner">
                                                <li>
                                                    <div class="dish-name">
                                                        <i>.1</i>
                                                        <h6 itemprop="headline">Chicken Tandoori Special</h6> <span
                                                            class="price">$85.00</span>
                                                    </div>
                                                    <div class="dish-ingredients">
                                                        <span class="check-box"><input type="checkbox"
                                                                id="checkbox1-1"><label
                                                                for="checkbox1-1"><span>Drink</span>
                                                                <i>$12</i></label></span>
                                                        <span class="check-box"><input type="checkbox"
                                                                id="checkbox1-2"><label
                                                                for="checkbox1-2"><span>Butter</span>
                                                                <i>$12</i></label></span>
                                                    </div>
                                                    <div class="mor-ingredients">
                                                        <a class="red-clr" href="#" title="" itemprop="url">Edit</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="dish-name">
                                                        <i>.2</i>
                                                        <h6 itemprop="headline">Chicken Tandoori Special</h6> <span
                                                            class="price">$90.00</span>
                                                    </div>
                                                    <div class="dish-ingredients">
                                                        <span class="check-box"><input type="checkbox"
                                                                id="checkbox2-1"><label
                                                                for="checkbox2-1"><span>Drink</span>
                                                                <i>$10</i></label></span>
                                                        <span class="check-box"><input type="checkbox"
                                                                id="checkbox2-2"><label
                                                                for="checkbox2-2"><span>Butter</span>
                                                                <i>$20</i></label></span>
                                                    </div>
                                                    <div class="mor-ingredients">
                                                        <a class="red-clr" href="#" title="" itemprop="url">Edit</a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="dish-name">
                                                        <i>.3</i>
                                                        <h6 itemprop="headline">Chicken Tandoori Special</h6> <span
                                                            class="price">$100.00</span>
                                                    </div>
                                                    <div class="dish-ingredients">
                                                        <span class="check-box"><input type="checkbox"
                                                                id="checkbox3-1"><label
                                                                for="checkbox3-1"><span>Drink</span>
                                                                <i>$30</i></label></span>
                                                    </div>
                                                    <div class="mor-ingredients">
                                                        <a class="red-clr" href="#" title="" itemprop="url">Edit</a>
                                                        <div class="ingradient-list yellow-bg">
                                                            <span class="check-box"><input type="checkbox"
                                                                    id="checkbox4-1"><label
                                                                    for="checkbox4-1"><span>Extra
                                                                        Drink</span></label></span>
                                                            <span class="check-box"><input type="checkbox"
                                                                    id="checkbox4-2"><label
                                                                    for="checkbox4-2"><span>Extra
                                                                        Drink</span></label></span>
                                                            <span class="check-box"><input type="checkbox"
                                                                    id="checkbox4-3"><label
                                                                    for="checkbox4-3"><span>Extra
                                                                        Drink</span></label></span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="order-total">
                                                <li><span>SubTotal</span> <i>$158</i></li>
                                                <li><span>Delivery fee</span> <i>$70</i></li>
                                                <li><span>Tax</span> <i>$12</i></li>
                                            </ul>
                                            <ul class="order-method brd-rd2 red-bg">
                                                <li><span>Total</span> <span class="price">$340</span></li>
                                                <li><span class="radio-box"><input type="radio" name="method"
                                                            id="pay1-1"><label for="pay1-1"><i class="fa fa-money"></i>
                                                            Cash</label></span> <span class="radio-box"><input
                                                            type="radio" name="method" id="pay1-2"><label
                                                            for="pay1-2"><i class="fa fa-credit-card-alt"></i>
                                                            Card</label></span></li>
                                                <li><a class="brd-rd2" href="#" title="" itemprop="url">CONFIRM
                                                        ORDER</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Section Box -->
    </div>
</section>