<div class="block less-spacing">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="title2-wrapper text-center">
        <h2 class="sudo-bottom sudo-width70 sudo-bg-yellow" itemprop="headline">
          Pida comida en 3 pasos
        </h2>
      </div>
      <div class="remove-ext text-center">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="step-box wow fadeIn" data-wow-delay="0.2s">
              <i
                ><img
                  src="assets/images/resource/setp-img1.png"
                  alt="setp-img1.png"
                  itemprop="image"
                />
                <span class="brd-rd50 red-bg">1</span></i
              >
              <div class="setp-box-inner">
                <h4 itemprop="headline">Tipee que quiere</h4>
                <p itemprop="description">
                  El buscador de platos de arriba le permitirá buscar cualquier
                  menú, el de abajo es exclusivo para platos veganos
                </p>
              </div>
            </div>
            <!-- Step Box -->
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="step-box wow fadeIn" data-wow-delay="0.4s">
              <i
                ><img
                  src="assets/images/resource/setp-img2.png"
                  alt="setp-img2.png"
                  itemprop="image"
                />
                <span class="brd-rd50 red-bg">2</span></i
              >
              <div class="setp-box-inner">
                <h4 itemprop="headline">Elija 4 platos</h4>
                <p itemprop="description">
                  Debe seleccionar del carrousel de opciones encontradas según
                  su búsqueda, dos platos veganos y dos que no lo sean
                </p>
              </div>
            </div>
            <!-- Step Box -->
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="step-box wow fadeIn" data-wow-delay="0.6s">
              <i
                ><img
                  src="assets/images/resource/setp-img3.png"
                  alt="setp-img3.png"
                  itemprop="image"
                />
                <span class="brd-rd50 red-bg">3</span></i
              >
              <div class="setp-box-inner">
                <h4 itemprop="headline">Confirme el pedido!</h4>
                <p itemprop="description">
                  Le enviaremos el banquete a su casa!
                </p>
              </div>
            </div>
            <!-- Step Box -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
